

<nav id="nav-layout" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div>
    <a id="logo" class="navbar-brand" href="#"><span id="http">://</span>WALL</a>
  </div>
  <div id="icons" class="collapse navbar-collapse" id="navbarColor01">
    <span id="username">Hello <%= user %></span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" class="btn btn-dark">
          <i class="fa-solid fa-user"></i>
        </button>
      </li>
      <li class="nav-item active">
        <button type="button" class="btn btn-dark" id="all-resources-btn">
          <i title="View Resources" class="fa-solid fa-house"></i>
        </button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-dark" id="my-resources-btn">
          <i title="My Resources" class="fa-solid fa-book-open"></i>
        </button>
      </li>
      <li class="nav-item">
<<<<<<< HEAD
        <button
          type="button"
          class="btn btn-dark"
          id="favourites-btn"
        >
          <i title="Favourites" class="fa-solid fa-heart"></i>
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#addFormModal"
        >
=======
        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#addFormModal">
>>>>>>> feature/css-styling
          <i title="Add Resource" class="fa-solid fa-plus"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="addFormModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-inline">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Resource</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="title">TITLE:</label>
            <input
              type="text"
              class="form-control"
              id="input-title"
              name="input-title"
              placeholder="Resource Title"
            />
          </div>
          <div class="form-group">
            <label for="resource_url">URL</label>
            <input
              type="url"
              class="form-control"
              id="input-url"
              name="input-url"
              placeholder="Resource URL"
            />
          </div>
          <div class="form-group">
            <label for="description">DESCRIPTION:</label>
            <input
              type="text"
              class="form-control"
              id="input-description"
              name="input-description"
              placeholder="Resource description"
            />
          </div>
          <div class="form-group">
            <label for="categorey">CATEGORY:</label>
            <select class="form-select" id="category-select">
              <option selected>- SELECT CATEGORY -</option>
              <option value="Sports">Sports</option>
              <option value="Educational">Educational</option>
              <option value="Art">Art</option>
              <option value="Coding">Coding</option>
              <option value="Cooking">Cooking</option>
              <option value="Music">Music</option>
              <option value="Travel">Travel</option>
            </select>


            <!-- <label for="categorey">CATEGORY:</label>
            <input
              type="text"
              class="form-control"
              id="input-category"
              name="input-category"
              placeholder="Resource category"
            /> -->
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="button-close"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" id="add-resource-btn" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
