<nav
  id="nav-layout"
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
>
  <div>
    <a class="navbar-brand" href="#">LOGO</a>
    <select name="category" id="category">
      <option value="sports">sports</option>
      <option value="educational">educational</option>
      <option value="art">art</option>
      <option value="coding">coding</option>
      <option value="cooking">cooking</option>
      <option value="music">music</option>
      <option value="travel">travel</option>
    </select>
  </div>
  <div id="search-bar">
    <div class="input-group rounded">
      <input
        id="search-input"
        type="text"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <button id="search-btn">
        <a class="nav-link" href="#"
          ><i title="search" class="fa-solid fa-magnifying-glass"></i
        ></a>
      </button>
    </div>
  </div>
  <div id="icons" class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/resources"
          ><i title="View Resources" class="fa-solid fa-book"></i
        ></a>
      </li>
      <li class="nav-item">
        <button
          type="button"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#addFormModal"
        >
          <i title="Add Resource" class="fa-solid fa-plus"></i>
        </button>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="#"><i title="search" class="fa-solid fa-magnifying-glass"></i></a>
      </li> -->
    </ul>
  </div>
</nav>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="addFormModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-inline">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Resource</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <div class="form-group">
            <label for="title">TITLE:</label>
            <input
              type="text"
              class="form-control"
              id="input-title"
              name="input-title"
              placeholder="Resource Title"
            />
          </div>
          <div class="form-group">
            <label for="resource_url">URL</label>
            <input
              type="url"
              class="form-control"
              id="input-url"
              name="input-url"
              placeholder="Resource URL"
            />
          </div>
          <div class="form-group">
            <label for="description">DESCRIPTION:</label>
            <input
              type="text"
              class="form-control"
              id="input-description"
              name="input-description"
              placeholder="Resource description"
            />
          </div>
          <div class="form-group">
            <label for="categorey">CATEGORY:</label>
            <input
              type="text"
              class="form-control"
              id="input-category"
              name="input-category"
              placeholder="Resource category"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="button-close"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" id="add-resource-btn" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
