<nav
  id="nav-layout"
  class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
>
  <div>
    <a class="navbar-brand" href="#">LOGO</a>
  </div>

  <div id="icons" class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/resources"
          ><i class="fa-solid fa-book"></i
        ></a>
      </li>
      <li class="nav-item add_button">
        <a class="nav-link" href="#" data-content="New Resource"
          ><i class="fa-solid fa-plus"></i
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          ><i class="fa-solid fa-magnifying-glass"></i
        ></a>
      </li>
    </ul>
  </div>
</nav>
