body {
  min-height: 100vh;
}

#body-style {
  background-color: whitesmoke;
}

#header {
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

#category-dropdown {
  left: 2em;
  margin-top: 5em;
  width: 20%;
}