#icons {
  display: flex;
  justify-content: flex-end;
}

#search-bar{
  float: none;
  position: absolute;
  left: 40%;
}

#username{
  color: white;
  padding-right: 5em;
}

#category{
  background-color: #212529;
  color:white;
}
