#icons {
  display: flex;
  justify-content: flex-end;
}

#search-bar{
  float: none;
  position: absolute;
  left: 40%;
}

#username{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: larger;
}

#category{
  background-color: #22252a;
  color:white;
}

#logo{
  font-family: 'Bungee Outline', sans-serif;
  font-size: 2em;
  padding-left: 1em;
}

#http{
  font-family: 'Bungee Shade';
  color: crimson;
}

#flask {
  color: crimson;
}

#modal-body{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

#modal-content{
  top: 41px;
}

#profile-content{
  top: 41px;
}

