#resource-container {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 15vh;
}

<<<<<<< HEAD

=======
.title {
  display: flex;
  justify-content: space-between;
}
>>>>>>> f4454b07649c08549d83937e09233b4ab5e9be3d
