#resource-container {
  display: flex;
  justify-content: space-evenly;
  row-gap: 2em;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 5vh;
  margin-bottom: 3em;
}

.title {
  display: flex;
  justify-content: space-between;
}

.add_form {
  display: none;
}



