body {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // align-items: center;
  min-height: 100vh;
}

#body-style{
  // background-color: #f5f5f5;
  // background-image: url("https://www.transparenttextures.com/patterns/concrete-wall-3.png");
  // /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  // background-color: aliceblue;
  background-color: whitesmoke;
}

#header{
display: flex;
margin-top: 1.5em;
margin-bottom: 2em;
}

#category-dropdown{
  left: 2em;
  margin-top: 5em;
  width: 20%;
  color: #22252a;
}












